<header>
  <div class="middle-header mtb-20 mt-xs-0">
    <div class="container">
      <div class="row">

        <div class="col-sm-4">
          <a class="logo" href="#"><img src="../assets/images/logo-black.png" alt="Logo"></a>
        </div><!-- col-sm-4 -->

        <div class="col-sm-8">
          <!-- Bannner bg -->
          <div class="banner-area dplay-tbl plr-30 plr-md-10 color-white">
            <div class="ptb-sm-15 dplay-tbl-cell">
              <h5>realestate.com.au</h5>
              <h6>Discover the latest properties of australia</h6>
            </div><!-- left-area -->

            <div class="dplay-tbl-cell text-right min-w-100x">
              <a class="btn-fill-white btn-b-sm plr-10" href="#">READ MORE</a>
            </div><!-- right-area -->
          </div><!-- banner-area -->
        </div><!-- col-sm-4 -->

      </div><!-- row -->
    </div><!-- container -->
  </div><!-- top-header -->

  <div class="bottom-menu">
    <div class="container">

      <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
      <span>
        <ul class="main-menu" id="main-menu">
          <li>
            <a routerLink="/Home" routerLinkActive="visible-menu">HOME</a>
          </li>
          <li>
            <a routerLink="/Business" routerLinkActive="visible-menu">BUSINESS</a>
          </li>
          <li>
            <a routerLink="/Sport" routerLinkActive="visible-menu">SPORT</a>
          </li>
          <li>
            <a routerLink="/Politics" routerLinkActive="visible-menu">POLITICS</a>
          </li>
          <li class="drop-down">
            <a routerLink="/About" routerLinkActive="visible-menu">ABOUT</a>
          </li>
          <li class="drop-down">
            <a routerLink="/Contact" routerLinkActive="visible-menu">CONTACT US</a>
          </li>
        </ul>
      </span>
      <ul class="float-md-right hidden-xs-down hidden-xs-up float-lg-right font-13 list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5 color-ash">
        <li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
        <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
        <li><a href="#"><i class="ion-social-google"></i></a></li>
        <li><a href="#"><i class="ion-social-rss"></i></a></li>
      </ul>
      <div class="col-md-4 col-lg-3 hidden-xs-down hidden-xs-up float-md-right float-lg-right">
        <form class="abs-form mtb-10">
          <input type="text" placeholder="Search">
          <button type="submit"><i class="ion-ios-search"></i></button>
        </form>
      </div><!-- col-md-4 -->
      <div class="clearfix"></div>
    </div><!-- container -->
  </div><!-- bottom-menu -->

</header>

<router-outlet></router-outlet>




<footer class="bg-191 pos-relative color-ccc bg-dark-primary pt-50">
  <div class="abs-tblr pt-50 z--1 text-center">
    <div class="h-80 pos-relative"><div class="bg-map abs-tblr opacty-1"></div></div>
  </div>

  <div class="container">
    <!-- row -->

    <div class="mt-20 brdr-ash-1 opacty-4"></div>

    <div class="text-center ptb-30">
      <div class="row">
        <div class="col-sm-3">
          <a class="mtb-10" href="#"><img src="../assets/images/logo-white.png" alt=""></a>
        </div><!-- col-sm-3 -->

        <div class="col-sm-5">
          <p class="mtb-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat
            tincidunt mauris semper lorem
          </p>
        </div><!-- col-sm-3 -->

        <div class="col-sm-4">
          <ul class="mtb-10 font-12 list-radial-35 list-li-mlr-3 color-white">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="ion-social-google"></i></a></li>
            <li><a href="#"><i class="ion-social-rss"></i></a></li>
          </ul>
        </div><!-- col-sm-3 -->
      </div><!-- row -->
    </div><!-- text-center -->
  </div><!-- container -->
  <!--#fff-->
  <div class="bg-dark-primary ptb-15 text-left">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-6">
          <p class="text-md-center font-9 pt-5 mtb-5">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div><!-- col-sm-3 -->

        <div class="col-sm-12 col-md-6">
          <ul class="mtb-5 font-11 text-md-center text-right list-a-p-5">
            <li><a href="#">Home</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Politics</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Culture</a></li>
            <li><a href="#">Tech</a></li>
            <li><a href="#">Video</a></li>
          </ul>
        </div><!-- col-sm-3 -->
      </div><!-- row -->

    </div><!-- container -->
  </div><!-- container -->
</footer>







